<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>App de Tareas en Django</title>
        {% load static %}
        <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" /> -->
        <!-- <link type="image/png" sizes="16x16" rel="icon" href="img/favicon/favicon--16.png" /> -->
        <!-- <link type="image/png" sizes="32x32" rel="icon" href="img/favicon/favicon-32.png" /> -->
        <link type="image/png" sizes="96x96" rel="icon" href="{% static 'images/favicon/favicon-96.png' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap-5.3.0/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    </head>
    <body>
        <div class="container-fluid px-0 w-1700">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="container-fluid bg-dark bg-opacity-10">
            <p>&copy;2022 - App de Tareas en Django | Todos los derechos reservados.</p>
        </footer>
       
        {% load static %}
        <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap-5.3.0/js/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/sweetalert2.all.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/login_register.js' %}" type="text/javascript"></script>

        <!-- {% load sweetify %} -->
        <!-- {% sweetify %} -->
        {% include "sweetalert2/sweetalert2.html" %}
    </body>
</html>
